@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #333;
  background-color: #f7f6f9;
  padding: 1rem;
}

.contact-form {
  margin: 1rem auto;
  width: 38%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: #fff;
}

.contact-form h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-form .form-group {
  margin-bottom: 1.5rem;
}

.contact-form .submit-btn {
  width: 100%;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #646cff;
  border-radius: 8px;
  color: #fff;
}

.modal-dialog .contact-form {
  width: 100%;
}

.submit-btn {
  margin-top: 1rem;
  letter-spacing: 1px;
}

.contacts-list-table-container {
  border-radius: 8px;
  max-width: 100%;
  height: 500px;
  overflow: auto;
}

.contacts-list {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts-list-title {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contacts-list-table,
.contacts-list-table tr,
.contacts-list-table th,
.contacts-list-table td {
  padding: 0.8rem;
  font-size: 1.2rem;
}

.contacts-list-table {
  border-collapse: collapse;
  width: 100%;
}

.contacts-list-table th,
.contacts-list-table td {
  border: 1px solid #dddddd;
  text-align: left;
}

.contacts-list-table tr:nth-child(even) {
  background: #f7f7f7;
}

.contacts-list-header {
  position: sticky;
  top: 0;
  background: #f7f7f7;
  font-size: 1.3rem;
  font-weight: bold;
  color: #555;
}
.errorMsg {
  color: rgb(249, 8, 8);
}

@media screen and (max-width: 900px) {
  .contact-form,
  .contacts-list,
  .main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
